

.container{
    width: 100%;
}

.main{
    padding: 30px 100px 30px 100px;
}



.title_container{

    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px
}

.title{
   width: 420px;
   font-size:60px;
   text-align: center;
   font-weight: bold;
   color: #242424;
}

.underline{
    border: 2px solid  #fa571c;
    width: 400px;
    height: 1px;
}

.service_container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px

}

.service{
    background-color: #fcf0eb;
    width: 300px;
    height: 300px;
    padding: 15px;
    text-align: center;
    /* border: 1px solid #242424; */
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px
}

.qualifyicon{
    color: #242424;
    font-size: 25px;
}

@media (max-width: 500px) {
    .main{
        padding: 30px
    }
    .title{
        font-size: 50px;
        width: 90%;
    }
    .underline{
        width: 90%
    }
}