
.container{
    width: 100%;
}

.main{
    padding: 30px 100px 30px 100px;
}

.image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    margin-top: 50px;
    height: 500px;
    opacity: 100%;
    filter: brightness(40%);
}



.title_container{

    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px
}

.title{
   width: 400px;
   font-size:60px;
   text-align: center;
   font-weight: bold;
   color: #242424;
}

.underline{
    border: 2px solid  #fa571c;
    width: 400px;
    height: 1px;
}



.course_section{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.course_container{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap:30px;
}

.course_card{
 
    width: 400px;
    height: 400px; 
    border-radius: 10px;
    flex-shrink: 0;
    border: 2px solid rgb(241, 241, 241);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    cursor: pointer;

}

.course_thnumbnail{
    width: 400px;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: filter 0.2s ease-in-out; 
}

.course_thnumbnail:hover{
    filter: brightness(60%)
}



.course_info_container{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap:10px;
    padding: 10px;
 }



.course_name{
    font-size: 25px;
}

.course_type{
    color: rgb(155, 154, 154);
}

.course_detail_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.course_detail_button {
    border: none;
    font-size: medium;
    color: #242424;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.course_detail_button:hover{
   color: #fa571c;
}


.course_avatars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    color: rgb(144, 144, 144)

}

.avatar{
    
    width: 50px;
    height: 50%;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .course_container{
        width: 100%;
        flex-direction: column;

    }
    .course_card{
        width: 100%;
        height:auto
    }
    .course_thnumbnail{
        width: 100%;
        height: auto
    }
}


@media (max-width: 1000px) {
    .container{
        width: 100%;
    }
    .course_container{
 
        justify-content: center;

    }
}

@media (max-width: 768px) {
    .main{
        padding: 30px
    }
    .title_container{

        margin-top: 50px;
     }
}

@media (max-width: 500px) {
    .main{
        padding: 30px
    }
    .course_detail_container{
        margin-top: 20px;
        flex-direction: column;
        align-items: start;
        gap:20px
    }
    .course_detail_button{
        padding: 0px
    }
    .title{
        font-size: 50px;
        width: 90%;
    }
    .underline{
        width: 90%
    }
    
 
}