.hero {
    position: relative;
    width: 100%;
    margin-top:60px;
    height: 110vh;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }
  

  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .image {
    object-fit: cover;
    object-position: center;
    opacity: 100%;
    filter: brightness(40%);
  }

  .home-detail-container h1{
    font-size: small;
  }


  .content {
    margin-top: 150px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0px;
  }
  
  .title {
    color: #fa571c;
    font-size: 3rem;
    font-weight: 700;
  }
  
  .subtitle {
    color: #fff;
    font-size: 3rem;
    line-height: 1.5;
  }

  .qualifylist {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px
  }

  .qualifyicon{
    color: rgb(4, 226, 4)
  }

  .qualifyitem{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap:10px
  }
  
  .ctaButton {
    background-color: #3b82f6; /* Your brand color */
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
  }
  
  .ctaButton:hover {
    background-color: #2563eb; /* Darker shade */
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .info_block{
    padding: 30px;
    width: 90%;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    border: 2px solid #fff;
    /* box-shadow:  0 0 10px #cbcbcb; */
}

.block{
  padding: 50px;
  border-radius: 20px;
  width: 50%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap:15px;
  box-shadow:  0 0 10px #cbcbcb;
}

.block_title{
  font-size: 30px;
  font-weight: bold;
}

.block_title_2{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
}

.block_content{
  border-radius: 10px;
  font-weight: bold;
  font-size: 35px;
  color: #424242;
  cursor: pointer;
}

.block_content:hover{
  color:  #fa571c;
}

.block_group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px
}

.outerForm {
  width: 700px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px
}

.formItem{
  color: #fff;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap:10px
}

.formItemTextarea {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap:10px
}

.label{
  color: #fff;
  font-size: 20px;
}
.input{
  width: 100%;
  padding: 10px 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #000
}

.textarea {
  width: 100%;
  padding: 10px 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #000
}

.send_button{
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background-color:#fa571c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}
.send_button:disabled{
  opacity: 50%;
  cursor: not-allowed;
}

.message{
  color: #fff;
  font-weight: bold;
}

.message_error{
  color: red;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .hero {
    min-height: 1000px;
  }
}

@media (max-width: 800px) {
  .formItem {
    width: 100%;
  }
  .formItemTextarea {
    width: 100%;
  }
  .outerForm{
    width: 100%;
    justify-content: center
  }
  .hero {
    min-height: 1000px;
  }
}
  
  /* Responsive adjustments */
@media (max-width: 768px) {
    .title {
      font-size: 2.2rem;
    }
    
    .subtitle {
      font-size: 1.5rem;
      margin-top: 20px;
    }
    
    .content{
      margin-top: 100px;
    }
    .qualifylist {
      flex-direction: column;
      margin-top: 30px;
      justify-content: start;
      gap:10px
    }

  }

@media (max-width: 1200px) {
  .hero{
    min-height: 1100px;
  }
}