.hero {
    position: relative;
    width: 100%;
    margin-top:60px;
    height: 90vh;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }
  

  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .image {
    object-fit: cover;
    object-position: center;
    opacity: 100%;
    filter: brightness(40%);
  }

  .home-detail-container h1{
    font-size: small;
  }


  .content {
    margin-top: 150px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap:0px;
  }
  
  .title {
    color: #fa571c;
    font-size: 3rem;
    font-weight: 700;
  }
  
  .subtitle {
    color: #fff;
    font-size: 3rem;
    line-height: 1.5;
  }

  .qualifylist {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px
  }

  .qualifyicon{
    color: rgb(4, 226, 4)
  }

  .qualifyitem{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap:10px
  }
  
  .ctaButton {
    background-color: #3b82f6; /* Your brand color */
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
  }
  
  .ctaButton:hover {
    background-color: #2563eb; /* Darker shade */
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .title {
      font-size: 2.2rem;
    }
    
    .subtitle {
      font-size: 1.5rem;
      margin-top: 20px;
    }
    
    .hero {
      height: 80vh;
      min-height: 500px;
    }
    .content{
      margin-top: 100px;
    }
    .qualifylist {
      flex-direction: column;
      margin-top: 30px;
      justify-content: start;
      gap:10px
    }
  }